<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349106143404-7ii9b7pp33tud8buuvu2n0dqbin0kmn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349106143404-7ii9b7pp33tud8buuvu2n0dqbin0kmn3</string>
	<key>API_KEY</key>
	<string>AIzaSyBPC16f6QekNTqRKkFEpbe1AcXJFVWROVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>349106143404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>parkgyurim.WebtoonAssistant</string>
	<key>PROJECT_ID</key>
	<string>webtoonassistantapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>webtoonassistantapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349106143404:ios:44e37d630a5635f8469f09</string>
</dict>
</plist>